.blog_detail {
    margin-top: 1%;
    display: flex;
    padding: 1%;
    flex-direction: row;
}

.blog_detail img {
    align-items: center;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.content {
    width: 60%;
    display: flex;
    font-size: 25;
    flex-direction: column;
    align-items: center;
    padding: 0 2% 0 2%;
    border-right: 1px solid;
    align-self: flex-start;
    position: sticky;
    top: 8%;
}

.blog_info {
    width: 100%;
    font-size: 14px;
    color: #666;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.comments {
    display: flex;
    padding: 1%;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

.no_comments {
    color: black;
    font-size: 50px;
}

.comment {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid;
    margin-bottom: 15px;
}

.angle {
    height: 80%vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 8%;
}