{% extends 'blog/layout.html' %}
{% load static %}
{% block title %}Блог{% endblock %}

{% block static %}
<link rel="stylesheet" href="{% static 'blog/css/blog_detail.css' %}">
{% endblock %}
{% block content %}
    <div class="blog_detail">
        <a class = "angle btn btn-light" href="{% url 'blog:blog_detail' pk=blog.id %}?post=prev"><i class = "fa fa-angle-left"></i></a>
        <div class="content">
            <h3 class="blog_title">{{ blog.title }}</h3>
            <img src="{{ blog.image.url }}">
            <div class = "blog_text"><a>{{ blog.content|linebreaks }}</a></div>
            <div class="blog_info">
                <a>{{blog.author}}</a>
                <a>{{blog.date_published}}</a>
            </div>    
        </div>
        <div class = "comments">
            {% if user.is_authenticated %}
                <div class="com_form">
                    <h3>Ваш комментарий</h3>
                    <form method = "POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="sumbit" class="btn btn-success">Отправить</button>
                    </form>
                </div>
            {% else %}
                <h3>Авторизуйтесь, чтобы оставлять комментарии</h3>
            {% endif %}
            {% if comments %}
                {% for comment in comments %}
                    <div class="comment">
                        <a><img src="{% static 'blog/img/user.png' %}"
                            style = "width: 40px; margin-right: 1px">
                            {{ comment.author }}</a>
                        <a>{{ comment.text }}</a>
                        <a style="align-self: end;">{{ comment.date_published }}</a>
                    </div>
                {% endfor %}
            {% else %}
                <a class="no_comments">Комментариев пока нет</a>
            {% endif %}
        </div>
        <a class = "angle btn btn-light" href="{% url 'blog:blog_detail' pk=blog.id %}?post=next"><i class = "fa fa-angle-right"></i></a>
    </div>
{% endblock %}